* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --background: black;
    --text-color: white;
    --accent-color: grey;
    --hover-color: lightgrey;
}

.header {
    height: 10vh;
    width: 100vw;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 3px var(--accent-color);
    
}

.add-note {
    margin-right: 5%;
    color: var(--text-color);
    background-color: var(--accent-color);
    height: 35px;
    width: 100px;
    border-radius: 25px;
}

.add-note:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.flex-wrapper {
    display: flex;
}

.list {
    height: 90vh;
    width: 35vw;
    background-color: var(--background);
    border-right: solid 3px var(--accent-color);
    overflow-y: auto;
    overflow-x: hidden;
}

.notepad {
    height: 90vh;
    width: 65vw;
    background-color: var(--background);
}

.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 35vw;
}

.list-item {
    width: 60%;
    height: 10%;
    border-radius: 10px;
    background-color: var(--accent-color);
    margin-top: 20px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-item:hover {
    cursor: pointer;
}

.title {
    font-size: 2rem;
    color: var(--text-color);
}

.notes {
    width: 63vw;
    height: 87vh;
    position: absolute;
    left: 36vw;
    top: 12vh;
    background-color: var(--background);
    color: var(--text-color);
    border: none;
    resize: none;
}

.notes:focus {
    outline: none;
}

.note-title {
    color: var(--text-color);
    background-color: var(--accent-color);
    border: none;
    font-size: 1.5rem;
    text-align: center;
}

.note-title:focus {
    outline: none;
}

::placeholder {
    color: white;
}

textarea:focus::placeholder,
input:focus::placeholder {
    color: transparent;
}

.left {
    margin-left: calc(100vw - 90%);
}

.hidden {
    display: hidden;
}

.border {
    box-sizing: border-box;
}

::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 25px;
    margin-right: 3px;
}

::-webkit-scrollbar {
    background: var(--background);
  }

.add-border {
    border: 3px solid white;
    box-sizing: border-box;
}